@charset "utf-8";

body{
  margin: 0;
}
header{
  background: #aaa;
  padding: 32px 0;
  text-align: center;
  border-bottom: 1px solid #bbb;
}
header img{
  border-radius: 50%;
}
h1{
  margin: 16px 0 0;
  font-weight: normal;
}
p{
  margin: 0;
}
main{
  padding: 64px 0;
}
h2{
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}
h3{
  margin: 16px 0 0;
  font-weight: normal;
  font-size: 20px;
}
section{
  background: #E6E6E6;
  width: 400px;
  margin: 64px auto 0;
}
section p{
  margin-top: 16px;
}
footer{
  background: #aaa;
  border-top: 1px solid #bbb;
  padding: 32px 0;
  text-align: center;
}
small{
  color: #F2F2F2;
}